.bgc{
    background-color: #3bc96d;
  
}
.title{
    text-shadow: 2px 2px 2px #CE5937;
}

.p_ple{
  color: rgb(208, 212, 95);
  background-color: rgb(0, 128, 36);
  text-align: center;
  margin-top: -1px;
  padding: 8px;
  font-weight: 700;
  transition-property: background-color,color;
  transition-duration: 2s;
  transition-timing-function: linear;
  cursor: pointer;
}
.p_ple:hover{
    background-color: blue;
    color: white;
}
i.bi-facebook{
    color: rgb(54, 91, 94);
}
i.bi-youtube{
    color: rgb(124, 128, 0);
}

